.bm-tax-post-grid {
    padding: 60px 0;
    max-width: 1300px;
    margin: 0px auto;
}

.bm-tax-post-grid-item {
    margin: 0 0 60px 0;
}

.bm-tax-post-grid-item a {
    color: #ff7a18;
    font-weight: bold;
}

.bm-tax-post-grid-item-content {
    font-size: 14px;
    line-height: 28px;
}

.bm-tax-post-grid ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    scrollbar-color: #666 #201c29;
    scrollbar-gutter: always;
    padding: 3rem 0 20px 2rem;
    margin: 0;
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
    -webkit-overflow-scrolling: touch;
}

.bm-tax-post-grid li {
    min-width: 300px;
    box-shadow: -2rem 0 3rem -2rem #000;
    padding: 1.5rem;
    border-radius: 16px;
    background: linear-gradient(85deg, #434343, #262626);
    color: #fff;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
}