.blocks_monster-blockquote .blocks_monster-block-actions {
	text-align: left;
}

.blocks_monster-blockquote .blocks_monster-block-copy {
	margin-top: 20px;
}

.blocks_monster-blockquote-author {
	margin: 10px 0 0 0;
	font-weight: 600;
}
